.venv/
__pycache__/
*.pyc
.env
.vscode/
.idea/
.DS_Store
.pytest_cache/
.coverage
build/
dist/
*.egg-info/
.mypy_cache/
logs/

# OS files
Thumbs.db
ehthumbs.db

# JetBrains
*.iml

# logs
*.log

# Mac
.Spotlight-V100
